.search-button{
  border: none;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, .10);
  height: 58px;
  width: 58px;
  font-weight: bold;
  font-size: 20px;
  margin: 16px auto;
  transition: all 0.2s ease-in;
  cursor: pointer;
  background: white;
  border-radius: 32px;
  align-items: center;
  max-width: 500px;
}

.search-button:hover{
  outline: none;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, .10);
  transform: translateY(-3px) scale(1.01);
}

.search-button.open{width: 60%;}

.search-button button, .search-button input{
  /* position: absolute; */
  height: 100%;
  padding: 0;
  margin: 0;
}

.search-button button{
  position: absolute;
  width: 58px;
  background: none;
  border: none;
  outline: none;
  background-image: url("/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2s ease-in;
}

.search-button button:hover{background-image: url("/search-icon-active.svg");}
.search-button input{
  position: absolute;
  width:0;
  margin:0;
  padding:0;
  left:0;
  top:0;
  padding-left: 58px;
  border: none;
  border-radius: 32px;
  transition: all 0.2s ease-in;
  outline: none;
  font-weight: bold;
  font-size: 24px;
  color: #C1C1C1;
  border: 0px solid #0984E3;

}

.search-button input:focus{
  border-width: 3px;
  color: #0984E3;
}
.search-button input::placeholder{color:#C1C1C1;}

.search-button.open input{width: 100%;}
