.chat-header{
  padding: 12px;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 182px;
  z-index: 1;
  background: white;
}
.chat-room.red .chat-header{background-color: #FFA3A2; box-shadow: 0 0 6px #FFA3A2;}
.chat-room.green .chat-header{background-color: #55EFC4; box-shadow: 0 0 6px #55EFC4;}
.chat-room.pink .chat-header{background-color: #F57DB7; box-shadow: 0 0 6px #F57DB7;}
.chat-room.yellow .chat-header{background-color: #FDCB6E; box-shadow: 0 0 6px #FDCB6E;}


.chat-room .subscription-button{
  margin: 0;
  width: 20%;
  height: 42px;
}
.chat-room .subscription-button svg{
  width: 20px;
  height: 20px;
}
.chat-room.red .subscription-button svg{fill: #CE3E3D;}
.chat-room.green .subscription-button svg{fill: #1AA57E;}
.chat-room.pink .subscription-button svg{fill: #8B2C5A;}
.chat-room.yellow .subscription-button svg{fill: #B98E40;}

.chat-room .subscription-button.pinned svg{fill: white;}


.chat-exit-button{margin: 9px 8px 0 16px; width: 52px; height: 52px;}



.chat-title{
  width: 80%;
  flex: 1 0 0;
  display: inline-block;
  margin: 0;
  color: white;
}



.chat-room .distance{
  position: relative;
  display: inline-block;
  bottom: 4px;
  left: 4px;
  margin: 0 16px;
  font-size: 18px;
  font-weight: bolder;
  color: #C1C1C1;
}
.chat-room .distance::after{
  content:'';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 70%;
  height: 3px;
  background: #C1C1C1;
}

.chat-room.red .distance{color: #CE3E3D;}
.chat-room.green .distance{color: #1AA57E;}
.chat-room.pink .distance{color: #8B2C5A;}
.chat-room.yellow .distance{color: #B98E40;}

.chat-room.red .distance::after{background: #CE3E3D;}
.chat-room.green .distance::after{background: #1AA57E;}
.chat-room.pink .distance::after{background: #8B2C5A;}
.chat-room.yellow .distance::after{background: #B98E40;}


.chat-info{
  display: flex;
  /* justify-content: space-between; */
  position: relative;
  align-items: center;
  flex: 0 0 100%;
}



.chat-room .member-list{
  width: 215px;
  display: inline-flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}



.chat-room .creator-profile{
  margin-right: 8px;
  display: inline-block;
  border: 2px solid white;
}



.chat-room .member-count{
  width: 48px;
  height: 48px;
  background-color: gray;
  font-size: 16px;
  background-color: white;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: -6px;
}
.chat-room.red .member-count{color: #FFA3A2;}
.chat-room.green .member-count{color: #55EFC4;}
.chat-room.pink .member-count{color: #F57DB7;}
.chat-room.yellow .member-count{color: #FDCB6E;}



.chat-room .member-listing{
  margin-right: -18px;
}
.chat-room .member-listing:last-of-type{margin-right: 0;}
