.button{
  border: none;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.10);
  height: 58px;
  width: 58px;
  font-weight: bold;
  font-size: 20px;
  margin: 16px auto;
  transition: all 0.2s ease-in;
  cursor: pointer;
  background: white;
  position: relative;
}

.button.primary{
  background: #0984E3;
  box-shadow: 3px 3px 6px rgba(9, 132, 227, .30);
  color: white;
}

.button.value{border-radius: 6px; width: 100%;}
.button.icon:not(.value){border-radius: 58px}
.button.no-back{background: none; box-shadow: none; color: #777777;}
.button:active, .button:focus{outline: none;}

.button:hover{
  outline: none;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, .10);
  transform: translateY(-3px) scale(1.01);
}

.button.primary:hover{
  box-shadow: 6px 6px 6px rgba(9, 132, 227, .30);
}

.button img{
  position: absolute;
  left: 24px;
  top: 14px;
}

.button.no-back, .button.no-back:hover, .button.no-back:focus, .button.no-back:active{
  box-shadow: none;
  transform: none;
  color: white;
}

.button.no-back:active{color: #0984E3;}

.button.profile{
  margin: 0;
  padding: 0;
  line-height: 0;
  border: 3px solid #0984E3;
}
.button.profile img{
  max-width: 64px;
  min-width: 64px;
  border-radius: 64px;
}
