.TextInput{
  position: relative;
  display: block;
  min-height: 64px;
  border-radius: 6px;
  font-size: 20px;
  padding: 0 16px;
  margin: 42px 0;
  width: 100%;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 0.1s ease-in, transform 0.1s ease-in;
  color: #707070;
}

.TextInput::placeholder{
  color: #C2E0F8;
}

.TextInput:hover{
  transform: translateY(-3px) scale(1.01);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
}

.TextInput:focus{
  outline: none;
  transform: translateY(-3px) scale(1.01);
  box-shadow: 0 6px 6px rgba(9, 132, 227, 0.3);
}
