.point{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: pop-in 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-play-state: paused;

}
.point.enter{
  transform: scale(0);
}

.point.enter-done{
  animation-play-state: running;
}

@keyframes pop-in{0%{transform: scale(0)} 100%{transform: scale(1)}}

.point.hide{transform: scale(0);}

.point.selected{z-index: 1;}

.point .chat-number{
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: lightgray;
  font-size: 9px;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}

.point-background{
  position: absolute;
  width: 30px;
  height: 30px;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 100%;
  transition: all 0.3s ease-out;
  box-shadow: 0 0 0 white;
  border: 0px solid white;
}

.point.red .chat-number{background-color: #FF7675; color: #AD2A29;}
.point.green .chat-number{background-color: #55EFC4; color: #1CAC83;}
.point.pink .chat-number{background-color: #F57DB7; color: #8B2C5A;}
.point.yellow .chat-number{background-color: #FDCB6E; color: #BF8D2F;}


.point.red .point-background{background-color: rgba(255, 163, 162, 0.5);}
.point.green .point-background{background-color: rgba(131, 248, 216, 0.5);}
.point.pink .point-background{background-color: rgba(248, 115, 180, 0.5);}
.point.yellow .point-background{background-color: rgba(255, 205, 111, 0.5);}

.point.selected .chat-number{width: 32px; height: 32px; color: white; font-size: 12px;}
.point.selected .point-background{width: 54px; height: 54px;}

.point.selected.red .point-background{
  border: 1px solid #FF7675;
  background-color: rgba(255, 163, 162, 0.8);
  box-shadow: 0 0 12px rgba(255, 118, 117, 0.5);
}

.point.selected.green .point-background{
  border: 1px solid #55EFC4;
  background-color: rgba(131, 248, 216, 0.8);
  box-shadow: 0 0 12px rgba(131, 248, 216, 0.5);
}

.point.selected.pink .point-background{
  border: 1px solid #E84393;
  background-color: rgba(248, 115, 180, 0.8);
  box-shadow: 0 0 12px rgba(248, 115, 180, 0.5);
}

.point.selected.yellow .point-background{
  border: 1px solid #FDCB6E;
  background-color: rgba(255, 205, 111, 0.8);
  box-shadow: 0 0 12px rgba(255, 205, 111, 0.5);
}
