.profile-img{
  display: inline-block;

  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
}

.profile-img.red{border: 2px solid #FFA3A2;}
.profile-img.green{border: 2px solid #55EFC4;}
.profile-img.pink{border: 2px solid #F57DB7;}
.profile-img.yellow{border: 2px solid #FDCB6E;}
