.home-ui-page{
  position: absolute;
  top: 0;
  padding: 32px;
  padding-top: 108px;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;

  padding-bottom: 128px;
}

.home-ui-page-enter-done{
  animation: slide-in 0.3s ease-out forwards;
  pointer-events: all;
  height: auto;
}

.home-ui-page-exit-done{
  height: 100%;
}

@keyframes slide-in{
  0%{transform: translateX(25%); opacity: 0;}
  100%{transform: translateX(0); opacity: 1;}
}

.home-ui-title{
  text-align: center;
  text-transform: uppercase;
  color: #ACD7E7;
  margin-bottom: 64px;
}

.home-ui-label{
  margin-top: 48px;
  color: #559BB5;
  display: block;
}

.TextInput.home-ui-input{
  margin-top: 12px;
  margin-bottom: 32px;
}

.created-rooms-container{
  margin-bottom: 128px;
}

.no-data-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-ui-page .button{
  margin-top: 96px;
}

.home-ui-page .image-upload{
  margin-top: 12px;
  margin-bottom: 32px;
}

.no-data-container .svg-icon{flex: 0 0 100%; width: 64px; height: 64px;}
.no-data-container p{flex: 0 0 100%; text-align: center; color: #707070;}

.chat-listing{
  position: relative;
  border-radius: 6px;
  background-color: white;
  padding: 16px;
  margin: 16px 0;
  cursor: pointer;
  transition: transform 0.1s ease-in;
}

.chat-listing .last-message{
  display: flex;
  align-items: center;
}

.chat-listing .last-message p{
  margin: 0;
  color: #707070;
}

.chat-listing .last-message .profile-img{
  margin-right: 16px;
  flex: 0 0 23px;
}

.chat-listing h1{
  font-size: 16px;
  margin: 0;
  margin-bottom: 16px;
}

.chat-listing.red h1{color: #FFA3A2;}
.chat-listing.green h1{color: #55EFC4;}
.chat-listing.pink h1{color: #F57DB7;}
.chat-listing.yellow h1{color: #FDCB6E;}

.chat-listing.red{box-shadow: 3px 3px 0 #FFA3A2, 3px 3px 6px #FFA3A2;}
.chat-listing.green{box-shadow: 3px 3px 0 #55EFC4, 3px 3px 6px #55EFC4;}
.chat-listing.pink{box-shadow: 3px 3px 0 #F57DB7, 3px 3px 6px #F57DB7;}
.chat-listing.yellow{box-shadow: 3px 3px 0 #FDCB6E, 3px 3px 6px #FDCB6E;}

.chat-listing:hover{
  transform: scale(1.05);
}

.chat-listing .button{margin:0;}
.chat-listing .button span{margin: 0;}

.chat-listing .delete-button, .chat-listing .subscription-button{
  position: absolute;
  top: 0;
  right: 8px;
  color: #707070;
  fill: #707070;
  text-transform: uppercase;
  font-size: 12px;
  width: auto;
}

.chat-listing .delete-button:hover, .chat-listing .subscription-button:hover{
  color: #FF7675;
  fill: #FF7675;
  text-transform: uppercase;
  font-size: 12px;
}

.chat-listing .delete-form{
  padding: 16px;
  text-align: center;
  color: #707070;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.chat-listing .delete-form p{
  flex: 0 0 100%;
}

.chat-listing .delete-form-button{
  margin-bottom: 8px;
  flex: 0 0 45%;
}
